@import "tailwindcss";

@plugin "tailwindcss-animate";

@layer base {
  :root {
    --background: #f9fafb;
    --background-contrast: #f7f7fc;
    --background-secondary: #F7F7FC;
    --border-one: #E5E7EB;
    --border-two: #E1E1FB;
    --border-three: #D1D5DB;
    --primary: #0066CC;
    --primary-contrast: #ffffff;
    --primary-light: #A3C8FF;
    --primary-alternative: #2563EB;
    --secondary: #F3F4F6;
    --danger-one: #DC2626;
    --danger-two: #EF4444;
    --text-one: #111827;
    --text-two: #4B5563;
    --text-three: #667085;
    --text-four: #9A9AB0;
    --text-five: #DBEAFE;
    --text-six: #6B7280;
    --text-seven: #374151;
    --green-one: #10B981;
    --yellow-one: #F59E0B;
    --icon: #9CA3AF;
    --white: #ffffff;
    --placeholder: #ADAEBC;

    --radius: 8px;
    --radius-alt: 6px;
  }
}

@theme {
  --color-background: var(--background);
  --color-background-contrast: var(--background-contrast);
  --color-background-secondary: var(--background-secondary);
  --color-border-one: var(--border-one);
  --color-border-two: var(--border-two);
  --color-border-three: var(--border-three);
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-primary-light: var(--primary-light);
  --color-primary-alternative: var(--primary-alternative);
  --color-secondary: var(--secondary);
  --color-danger-one: var(--danger-one);
  --color-danger-two: var(--danger-two);
  --color-text-one: var(--text-one);
  --color-text-two: var(--text-two);
  --color-text-three: var(--text-three);
  --color-text-four: var(--text-four);
  --color-text-five: var(--text-five); 
  --color-text-six: var(--text-six);
  --color-text-seven: var(--text-seven);
  --color-green-one: var(--green-one);
  --color-yellow-one: var(--yellow-one);
  --color-icon: var(--icon);
  --color-white: var(--white);
  --color-placeholder: var(--placeholder);

  --font-inter: var(--inter);
  --radius-radius: var(--radius);
  --radius-radius-alt: var(--radius-alt);
}

@layer base {
  body {
    @apply bg-background text-text-one font-inter antialiased;
  }

  button, a {
    @apply focus-visible:outline-primary focus-visible:outline-4 focus-visible:outline-offset-2
  }

  svg {
    @apply text-2xl shrink-0;
  }

  .linear-one {
    background: linear-gradient(90deg, #0066CC 0%, #004499 100%);
  }

  .linear-two {
    background: linear-gradient(90deg, #0066CC 0%, #2563EB 100%);
  }

  .linear-three {
    background: linear-gradient(90deg, #0284C7 0%, #0369A1 100%);
  }

  .linear-four {
    background: linear-gradient(90deg, #F9FAFB 0%, #F3F4F6 100%);
  }

  .shadow-one {
    box-shadow: 
      0px 2px 4px rgba(0, 0, 0, 0.1),
      0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .shadow-two {
    box-shadow: 
      0px 4px 6px rgba(0, 0, 0, 0.1),
      0px 10px 15px rgba(0, 0, 0, 0.1);
  }

  .shadow-three {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  }

  .react-aria-DateField {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
  }
  
  .react-aria-DateInput {
    display: inline;
    padding: 4px;
    background: var(--field-background);
    width: fit-content;
    min-width: 150px;
    white-space: nowrap;
    forced-color-adjust: none;
  
    &[data-focus-within] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
  }
  
  .react-aria-DateSegment {
    padding: 0 2px;
    font-variant-numeric: tabular-nums;
    text-align: end;
    color: var(--text-color);
  
    &[data-type=literal] {
      padding: 0;
      color: var(--placeholder);
    }
  
    &[data-placeholder] {
      color: var(--placeholder);
    }
  
    &:focus {
      color: var(--white);
      background: var(--primary);
      outline: none;
      border-radius: 4px;
      caret-color: transparent;
    }
  }
}

